@tailwind base;
@tailwind components;
@tailwind utilities;

#zig-zag {
    background:
        linear-gradient(135deg, #1db954 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, orange 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #1db954 25%, transparent 25%),
        linear-gradient(45deg, orange 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #fff;
}

#welcome-pattern {
    --s: 100px;
    /* control the size */
    --c1: #E1F5C4;
    --c2: #3B8183;

    --_g: #0000, #0004 5%,
        var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%, var(--c1) 36% 44%,
        var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%, var(--c1) 76% 84%,
        var(--c2) 86% 94%, #0004 95%, #0000;
    background:
        radial-gradient(100% 50% at 100% 0, var(--_g)),
        radial-gradient(100% 50% at 0 50%, var(--_g)),
        radial-gradient(100% 50% at 100% 100%, var(--_g));
    background-size: var(--s) calc(2*var(--s));
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

html {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    scroll-behavior: smooth;

}